{% extends 'peso_base.html' %}

{% load l10n %}

{% block principal %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
var pesosGraficos = [];

meta = function () {}

/*
  Código adaptado do exemplo do canvasjs.com.
*/

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title:{
    text: "Evolução"
  },
  axisX:{
    valueFormatString: "DD MM"
  },
  axisY: {
    title: "Peso em Kg",
    includeZero: false,
    scaleBreaks: {
      autoCalculate: true
    }
  },
  data: [{
    type: "line",
    xValueFormatString: "DD MM",
    color: "#F08080",
    dataPoints: pesosGraficos
  }]
});
chart.render();

}
</script>

<article class="panel panel-success card" style="max-width: 500px; margin: 20px auto;">
  <header class="jumbotron text-center mb-4 fundotitulo">
    <div class="panel-heading"><h1 class="display-5">Peso em<br/>Foco</h1></div>
  </header>
  <main>
    <div>
    <p class="text-center">|<b>{{pessoa.nome}}</b>|
    <p>Meta: {{ meta.peso }} Kg Data:{{ meta.data }}
    <form action="{% url 'incluipeso' %}" class="form" method="post">
      {% csrf_token %}
      <div class="form-label-group text-center mb-4">
        <input type="hidden" value='{{ pessoa.id }}' id='pessoa_id' name='pessoa_id'>
        <label for="peso">Seu peso hoje</label>
        <input id="peso" name = "peso" type="number" step="0.1"  value="{{ ultimo }}" placeholder="Peso Kg" class="form-control" required autofocus>
      </div>
    </form>
    <hr>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <hr>
    <table class='table table-striped table-hover data-spy="scroll" data-offset="3"' style="height: 50px;">
      <thead class="thead-dark">
        <tr>
          <th>Peso</th><th>Data</th><th></th>
        </tr>
      </thead>
      <tbody>
        {% for peso in pesos %}
        <script>
          {% localize off %}
          peso = {{peso.peso}};
          {% endlocalize %}
          dia = {{peso.data.day}};
          mes = {{peso.data.month}}-1;
          ano = {{peso.data.year}};
          hora = {{peso.data.hour}};

          data = new Date(ano, mes, dia, hora);

          pesosGraficos.push({ x: data, y: peso, mes:mes, hora:hora });
        </script>
        <tr>
          <td>{{peso.peso}}</td><td>{{peso.data}}</td><td><a href="#"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div><pre id="teste"></pre></div>
    <script> //document.getElementById("teste").innerHTML = ""+pesosGraficos[0].hora;</script>
  </main>
</article>
{% endblock %}
