.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fundo {
  background-color: #a99f6f;
  background-image: url('imgfundo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.fundotitulo {
  background-image: url('imgtitulo.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
